<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-room-feature-heading" jhiTranslate="roomieApp.roomFeature.home.createOrEditLabel">Create or edit a Room Feature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!roomFeature.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="roomFeature.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="roomieApp.roomFeature.lang" for="field_lang">Lang</label>
                    <select class="form-control" name="lang" [(ngModel)]="roomFeature.lang" id="field_lang"  required>
                        <option value="ESP">{{'roomieApp.Lang.ESP' | translate}}</option>
                        <option value="ENG">{{'roomieApp.Lang.ENG' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.lang?.dirty && editForm.controls.lang?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lang?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="roomieApp.roomFeature.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="roomFeature.type" id="field_type"  required>
                        <option value="AMENITIES">{{'roomieApp.FeatureType.AMENITIES' | translate}}</option>
                        <option value="RESTRICTIONS">{{'roomieApp.FeatureType.RESTRICTIONS' | translate}}</option>
                        <option value="LIFESTYLE">{{'roomieApp.FeatureType.LIFESTYLE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="roomieApp.roomFeature.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="roomFeature.name" required minlength="4" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 4 }">
                        This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="roomieApp.roomFeature.icon" for="field_icon">Icon</label>
                    <input type="text" class="form-control" name="icon" id="field_icon"
                        [(ngModel)]="roomFeature.icon" required/>
                    <div [hidden]="!(editForm.controls.icon?.dirty && editForm.controls.icon?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.icon?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
