<div>
    <h2 id="page-heading">
        <span jhiTranslate="roomieApp.roomExpense.home.title">Room Expenses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room-expense" [routerLink]="['/room-expense/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="roomieApp.roomExpense.home.createLabel">
            Create new Room Expense
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'roomieApp.roomExpense.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="roomExpenses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isRent"><span jhiTranslate="roomieApp.roomExpense.isRent">Is Rent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="roomieApp.roomExpense.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="roomieApp.roomExpense.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currency"><span jhiTranslate="roomieApp.roomExpense.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="roomieApp.roomExpense.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="periodicity"><span jhiTranslate="roomieApp.roomExpense.periodicity">Periodicity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monthDay"><span jhiTranslate="roomieApp.roomExpense.monthDay">Month Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="roomieApp.roomExpense.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishDate"><span jhiTranslate="roomieApp.roomExpense.finishDate">Finish Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roomId"><span jhiTranslate="roomieApp.roomExpense.room">Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roomExpense of roomExpenses ;trackBy: trackId">
                <td><a [routerLink]="['/room-expense', roomExpense.id, 'view' ]">{{roomExpense.id}}</a></td>
                <td>{{roomExpense.isRent}}</td>
                <td>{{roomExpense.name}}</td>
                <td>{{roomExpense.description}}</td>
                <td jhiTranslate="{{'roomieApp.CurrencyType.' + roomExpense.currency}}">{{roomExpense.currency}}</td>
                <td>{{roomExpense.amount}}</td>
                <td>{{roomExpense.periodicity}}</td>
                <td>{{roomExpense.monthDay}}</td>
                <td>{{roomExpense.startDate | date:'mediumDate'}}</td>
                <td>{{roomExpense.finishDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="roomExpense.roomId">
                        <a [routerLink]="['../room', roomExpense.roomId , 'view' ]" >{{roomExpense.roomId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/room-expense', roomExpense.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room-expense', roomExpense.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-expense/'+ roomExpense.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="roomExpenses && roomExpenses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
