<div>
    <h2 id="page-heading">
        <span>Company</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="companies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="roomieApp.company.name">Name</span></th>
            <th jhiSortBy="email"><span jhiTranslate="roomieApp.company.email">Email</span></th>
            <th jhiSortBy="address"><span jhiTranslate="roomieApp.company.address">Address</span></th>
            <th jhiSortBy="premiumCost"><span jhiTranslate="roomieApp.company.premiumCost">Premium Cost</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td>{{company.name}}</td>
                <td>{{company.email}}</td>
                <td>{{company.address}}</td>
                <td>{{company.premiumCost}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
