<div>
    <h2 id="page-heading">
        <span jhiTranslate="roomieApp.roomTask.home.title">Room Tasks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room-task" [routerLink]="['/room-task/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="roomieApp.roomTask.home.createLabel">
            Create new Room Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="roomTasks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="roomieApp.roomTask.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="roomieApp.roomTask.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="roomieApp.roomTask.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deadline"><span jhiTranslate="roomieApp.roomTask.deadline">Deadline</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="roomieApp.roomTask.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roomId"><span jhiTranslate="roomieApp.roomTask.room">Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roomTask of roomTasks ;trackBy: trackId">
                <td><a [routerLink]="['/room-task', roomTask.id, 'view' ]">{{roomTask.id}}</a></td>
                <td>{{roomTask.created | date:'medium'}}</td>
                <td>{{roomTask.title}}</td>
                <td>{{roomTask.description}}</td>
                <td>{{roomTask.deadline | date:'medium'}}</td>
                <td jhiTranslate="{{'roomieApp.RoomTaskState.' + roomTask.state}}">{{roomTask.state}}</td>
                <td>
                    <div *ngIf="roomTask.roomId">
                        <a [routerLink]="['../room', roomTask.roomId , 'view' ]" >{{roomTask.roomId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/room-task', roomTask.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room-task', roomTask.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'room-task', { outlets: { popup: roomTask.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="roomTasks && roomTasks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
