<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container  py-lg-md d-flex">
            <div class="row row-grid align-items-center text-white">
                <div class="col-md-4 order-md-2">
                    <img src="../../content/images/landing/phone-home.png" class="img-fluid floating">
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="pr-md-5" [ngSwitch]="isAuthenticated()">
                        <h2 class="text-white" jhiTranslate="home.title">Your perfect roommate is a few clicks away!</h2>
                        <p *ngSwitchCase="false" class="text-white" jhiTranslate="home.subtitle">It is easy, we will help you find the right one.</p>
                        <p class="text-white" *ngSwitchCase="true" jhiTranslate="home.logged.message"
                           [translateValues]="{username: account.login}"> Welcome {{account.login}}!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <!-- 1st Hero Variation -->
</div>
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-3">Discover what all the
                    <span class="text-success">buzz is about!</span>
                </h2>
                <p class="lead">Our app is available on any mobile device! Download now to get started!</p>
                <div class="text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-4">
                            <a href="#" target="_blank"
                               data-toggle="tooltip" data-original-title="Google Play">
                                <img src="../../content/images/landing/google-play-badge.svg"
                                     class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0 bg-gradient-warning">
    <div class="container">
    <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
                <img src="../../content/images/landing/ill-2.svg" class="img-center img-fluid">
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="d-flex px-3">
                <div>
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <fa-icon [icon]="['fas', 'mobile-alt']" class="text-primary" fixedWidth="true"></fa-icon>
                    </div>
                </div>
                <div class="pl-4">
                    <h4 class="display-3 text-white">Modern Interface</h4>
                    <p class="text-white">We offer a great intuitive interface that will let you find just what you need.</p>
                </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                <fa-icon [icon]="['fas', 'dot-circle']" fixedWidth="true"></fa-icon>
                            </div>
                        </div>
                        <div class="pl-4">
                            <h5 class="title text-success">Awesome Support</h5>
                            <p>Feel free to drop us a line anytime you have concerns!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                <fa-icon [icon]="['fas', 'dot-circle']" fixedWidth="true"></fa-icon>
                            </div>
                        </div>
                        <div class="pl-4">
                            <h5 class="title text-warning">Premium</h5>
                            <p>For a small feed you can get all the features to manage your room.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center mb-lg">
            <div class="col-lg-8">
                <h2 class="display-3">The amazing Team</h2>
                <p class="lead text-muted">According to the National Oceanic and Atmospheric Administration, Ted,
                    Scambos, NSIDClead scentist, puts the potentially record maximum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="px-4">
                    <img src="https://cosmicode.netlify.com/assets/img/derek.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                        style="width: 200px;">
                    <div class="pt-4 text-center">
                        <h5 class="title">
                            <span class="d-block mb-1">Derek Jiménez Quesada</span>
                            <small class="h6 text-muted">CEO</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'twitter']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'facebook']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'github']" fixedWidth="true"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="px-4">
                    <img src="https://cosmicode.netlify.com/assets/img/alex.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                         style="width: 200px;">
                    <div class="pt-4 text-center">
                        <h5 class="title">
                            <span class="d-block mb-1">Alex Fernández Montoya</span>
                            <small class="h6 text-muted">CIO</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'twitter']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'facebook']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'github']" fixedWidth="true"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="px-4">
                    <img src="https://cosmicode.netlify.com/assets/img/cherng.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                         style="width: 200px;">
                    <div class="pt-4 text-center">
                        <h5 class="title">
                            <span class="d-block mb-1">Cherng Lii Zhang Chen</span>
                            <small class="h6 text-muted">CQO</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'twitter']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'facebook']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'github']" fixedWidth="true"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="px-4">
                    <img src="https://cosmicode.netlify.com/assets/img/heyner.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                        style="width: 200px;">
                    <div class="pt-4 text-center">
                        <h5 class="title">
                            <span class="d-block mb-1">Heyner Soza Montano</span>
                            <small class="h6 text-muted">COO</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'twitter']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'facebook']" fixedWidth="true"></fa-icon>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                                <fa-icon [icon]="['fab', 'github']" fixedWidth="true"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
